{% extends 'base.html' %}

{% block content %}

<div class='container'>



<div class='bg-light py-3 px-5'>


  <form method='GET' action='{% url 'consultas:lista' %}'>
    <p>FILTRAR RESULTADOS</p>
    {% csrf_token %}
    <p><b>Ciudad</b></p>
    {% for ciudad in ciudades %}
    <label class="form-check d-flex justify-content-start">
      <input class="form-check-input" type="checkbox" value='{{ciudad.nombre}}' name='{{ciudad.nombre}}'>
      <span class="form-check-label">
        {{ciudad.nombre}}
      </span>
    </label>
    {% endfor %}


    <p><b>Gravedad autoevaluación</b></p>
    <label class="form-check d-flex justify-content-start">
      <input class="form-check-input" type="checkbox" value='Baja' name='Baja'>
      <span class="form-check-label">
        Baja
      </span>
    </label>

    <label class="form-check d-flex justify-content-start">
      <input class="form-check-input" type="checkbox" value='Media' name='Media'>
      <span class="form-check-label">
        Media
      </span>
    </label>

    <label class="form-check d-flex justify-content-start">
      <input class="form-check-input" type="checkbox" value='Alta' name='Alta'>
      <span class="form-check-label">
        Alta
      </span>
    </label>
    <hr>
    <button type='submit' class='btn btn-primary'>Filtrar</button>
  </form>

  <p class='mt-3'>Resultados para las ciudades de: {% if ciudades_filtradas %}{{ciudades_filtradas}} {% else %}{{ciudades_list}}{% endif %}</p>
  <p class='mt-3'>Y con la gravedad de : {% if gravedad_filtradas %}{{gravedad_filtradas}} {% else %}{{gravedad_list}}{% endif %}</p>


  <div class='mt-3' id="mapArea" style="widthL:200px;height:400px;"></div>

  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Gravedad</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Latitud</th>
        <th scope="col">Longitud</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for consulta in object_list %}
      <tr>
        <th scope="row">{{consulta.pk}}</th>
        <td>{{consulta.telefono}}</td>
        <td>{{consulta.gravedad}}</td>
        <td>{{consulta.ciudad}}</td>
        <td>{{consulta.lat}}</td>
        <td>{{consulta.long}}</td>
        <td>{{consulta.dia}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>

<script>
  var markers = [];
  var boundaries = [];

  var locations = [
        {% for item in object_list %}
            {
            lat: {{ item.lat }},
            lng: {{ item.long }},
            name: "{{ item.telefono }}",
            {% if item.gravedad == 'Alta' %}
            color: "red"
            {% elif item.gravedad == 'Media' %}
            color: "yellow"
            {% elif item.gravedad == 'Baja' %}
            color: "green"
            {% endif %}
            },
        {% endfor %}
    ]


  // var watchId, startLat, startLong;
  window.onload = function()
  {
    if (navigator.geolocation)
    {
      watchId = navigator.geolocation.watchPosition(onSuccess, onError, {
        maximumAge: 60000,
        timeout: 5*60*1000,
        enableHighAccurady: true
      });
    }
  }

  function onSuccess(position)
  {

    var currentLat = position.coords.latitude;
    var currentLong = position.coords.longitude;

  var initMap = function() {
    var latlng = new google.maps.LatLng(currentLat, currentLong);
    var map = new google.maps.Map(document.getElementById('mapArea'), {
    center: latlng,
    scrollwheel: true,
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  });

  function createMarker(latlng, nombre, color){
    let url = "http://maps.google.com/mapfiles/ms/icons/";
    url += color + "-dot.png";

    var marker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: {
        url: url
      }
  });

  return marker
  }

  if (locations.length > 0) {
    for(var i = 0; i < locations.length; i++){
      var obj = locations[i]
      var latlng = {lat: obj.lat, lng: obj.lng}
      var marker = createMarker(latlng, obj.nombre, obj.color)
      markers.push(marker)
    }
  }

  // var Item_1 = new google.maps.LatLng(48.5983128, 8.9172776);

  function createBoundaries(lat, lng)
  {
    var bound = new google.maps.LatLng(lat, lng);
    return bound
  }

  if (locations.length > 0) {
    for(var i = 0; i < locations.length; i++){
      var obj = locations[i]
      var lat = obj.lat
      var lng = obj.lng
      var bound = createBoundaries(lat, lng)
      boundaries.push(bound)
    }
  }

  var latlngbounds = new google.maps.LatLngBounds();
  if (boundaries.length > 0){
    for(var i=0; i<boundaries.length;i++)
    {
      latlngbounds.extend(boundaries[i])
    }
  }
  map.fitBounds(latlngbounds);


  }
  initMap()
  }

  function onError(error)
  {
    switch(error.code)
    {
      case PERMISION_DENIED:
        alert("User denied permission");
        break;
      case TIMEOUT:
        alert("Geolocation timed out");
        break;
      case POSITION_UNAVAILABLE:
        alert("Geolocation information is not available")
        break;
      default:
        alert("Unknown error");
        break;
    }
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&&callback=initMap" async defer></script>

{% endblock %}
