{% extends 'base.html' %}
{% load static %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
<div style="background-color:#DA131A" class='container'>

<div class='col'>

<div class='row justify-content-center'>
  <div class='col-10-lg'>
  <div class='d-flex justify-content-center mt-5'>
    <div class='text-center'>
    <img src='{% static 'images/Escudo Bogotá.png' %}' class="img-fluid" alt="Responsive image">
      <h5 style="color:#FCDD09">Alcaldía de Bogotá</h5>
      <div class='d-none d-lg-block d-xl-block'>
        <h1 class='display-1' style="color:#FCDD09"><b>Haz tu autoevaluación del COVID-19</b></h1>
      </div>
      <div class='d-block d-md-block d-lg-none'>
        <h1 style="color:#FCDD09"><b>Haz tu autoevaluación del COVID-19</b></h1>
      </div>
      <h4 style="color:#FCDD09">Evalúa tu salud y recibe instrucciones y recomendaciones sobre el COVID-19 con la Página Oficial de la Alcaldía de Bogotá.</h4>
    </div>
  </div>
  </div>
</div>

<div class='row d-flex justify-content-center mt-5'>
  <div class='col-9'>
    <div class="alert alert-warning" role="alert">
      <div class='row d-flex justify-content-end'>
        <div class='col-1 w-50 align-self-center'>
          <img src='{% static 'images/circle2.png' %}' class="img-fluid" alt="Responsive image">
        </div>
        <div class='col-11'>
          Realiza esta autoevaluación sólo si crees que tienes síntomas. La Alcaldía de Bogotá es la responsable del tratamiento de los datos y su finalidad es sanitaria.
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col d-flex justify-content-center'>
    <a type="button" class="btn btn-primary btn-lg" href='{% url 'autoevaluación' %}'>
      <div class='text-white'>
        Entendido. Realizar autoevaluación
      </div>
    </a>
  </div>
</div>


<div class='col mt-5 mb-5'>

  <div class='row d-flex justify-content-center'>

    <div class="card" style="width: 18rem;background-color:#DA131A">
      <div class='w-25 align-self-center mt-5 mb-3'>
        <img src='{% static 'images/fingerprint.png' %}' class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center" style="color:#FCDD09">Introduce tus datos</h5>
        <p class="card-text text-center" style="color:#FCDD09">Introduce tu información de contacto para el correcto funcionamiento de tu evaluación.</p>
      </div>
    </div>

    <div class="card ml-3" style="width: 18rem;background-color:#DA131A">
      <div class='w-25 align-self-center mt-5 mb-3'>
        <img src='{% static 'images/process.png' %}' class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center" style="color:#FCDD09">Realiza tu autoevaluación</h5>
        <p class="card-text text-center" style="color:#FCDD09">Contesta las preguntas de evaluación, te ayudarán a saber más sobre tu estado de salud.</p>
      </div>
    </div>

    <div class="card ml-3" style="width: 18rem;background-color:#DA131A">
      <div class='w-25 align-self-center mt-5 mb-3'>
        <img src='{% static 'images/bell.png' %}' class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center" style="color:#FCDD09">Instrucciones y consejos</h5>
        <p class="card-text text-center" style="color:#FCDD09">Tras la autoevaluación, te aconsejaremos qué hacer después y te ofreceremos recomendaciones.</p>
      </div>
    </div>

  </div>

</div>

<div class='d-flex justify-content-center mt-5 mb-5'>
  <div class='text-center'>
  <img src='{% static 'images/Escudo Bogotá.png' %}' class="img-fluid" alt="Responsive image">
    <h5 style="color:#FCDD09">Alcaldía de Bogotá</h5>
  </div>
</div>

<div class='row d-flex justify-content-center mb-5'>
    <img src='{% static 'images/virus.png' %}' width="30" height="30" class="d-inline-block align-top mr-3" alt="">
    <h4 style="color:#FCDD09">Asistencia COVID-19</h4>
</div>

<div class='row d-flex justify-content-center mb-5'>
    <h5 style="color:#FCDD09">Terminos y condiciones</h5>
    <h5 class='ml-3' style="color:#FCDD09">Aviso de privacidad</h5>
</div>

</div>

</div>
{% endblock content %}
